<div class="header vert">
  <div class="landing-container">
    
    <h1>Welcome to Bushwood.</h1>
      <div>&nbsp;</div>
      <div class="centered"><img src="https://s3-us-west-1.amazonaws.com/fantasy-golf/bushwood_country_club_cap.png" class="golf-course-landing"></div>
  </div>
</div>

<div id="sec1" class="blurb">
  <div class="landing-container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>The fantasy golf league,</h1>
        <h1>by golfers for golfers.</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</div>

<div class="featurette" id="sec2">
  <div class="landing-container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Features</h1><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <i class="icon-rocket"></i>
          <h4>Roster Management</h4>
          <p>Rich UI for setting fantasy rosters, proposing trades, and bidding for free agents.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <i class="icon-magnet"></i>
          <h4>Messages</h4>
          <p>Send out announcements, propose events, or trash talk your friends.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <i class="icon-shield"></i>
          <h4>Email</h4>
          <p>Customizable email alerts for league messages, trade offers, and tournament reminders.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <i class="icon-rocket"></i>
          <h4>Roster Management</h4>
          <p>Rich UI for setting fantasy rosters, proposing trades, and bidding for free agents.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <i class="icon-magnet"></i>
          <h4>Messages</h4>
          <p>Send out announcements, propose events, or trash talk your friends.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <i class="icon-pencil"></i>
          <h4>Players</h4>
          <p>Draft any player on the tour!</p>
        </div>
      </div>
      
      
    </div>
  </div>
</div>

<div class="blurb bright">
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Try it out!</h3>
        <br>
      </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2><i class="icon-chevron-left"></i> Sign up!</h2></div>
         <div class="panel-body text-center">
           Take the plunge!  Create a new account.  Join an existing league or create a new one and invite your friends!
           <hr>
        <a href="/users/sign_up">
          <button class="btn btn-lg btn-primary btn-block">Sign Up</button> 
        </a>
          </div>
         </div>
 	</div>
    <div class="col-sm-4">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2><i class="icon-chevron-left"></i> Tour Demo</h2></div>
         <div class="panel-body text-center">Get a feel for the site using a guest account with demo data.<br /><br />
           <hr>
          <button class="btn btn-lg btn-primary btn-block">Take the tour</button> 
          </div>
         </div>
 	</div>
    <div class="col-sm-4">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2>Sign in! <i class="icon-chevron-right"></i></h2></div>
         <div class="panel-body text-center">
           Users who have already signed up may sign in here. <br /><br />
           <hr>
           <a href="/users/sign_in">
          <button class="btn btn-lg btn-primary btn-block">Sign In</button> 
           </a>
          </div>
         </div>
 	</div>
  </div>
</div>

<div class="blurb bottom">
  <div class="landing-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Thanks for exploring.</h2>
        <p class="lead"><br><small>A project by <a href="http://www.rob-andrews.com" target="ext">Rob Andrews</a>.</small></p>
      </div>
    </div>
  </div>
</div>
