<div class="container">
<h2> Create a new message </h2>


<form role="form" action="<%=league_messages_url%>" method="POST" accept-charset="utf-8">  
  
  <div class="form-group">
     <label for="message-subject">Subject</label>
    <input type="text" class="form-control" name="message[subject]" id="message-subject" placeholder="Subject">
   </div>
   
  <div class="form-group">  
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div id="toolbar" style="display: none;">
      <a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
      <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
      <a data-wysihtml5-command="underline" title="CTRL-U">underline</a> |
      <a data-wysihtml5-command="createLink">insert link</a> |
      <a data-wysihtml5-command="insertImage">insert image</a> |
      <a data-wysihtml5-command="insertUnorderedList">insertUnorderedList</a> |
      <a data-wysihtml5-command="insertOrderedList">insertOrderedList</a> |
      <a data-wysihtml5-command="undo">undo</a> |
      <a data-wysihtml5-command="redo">redo</a>
    
      <div data-wysihtml5-dialog="createLink" style="display: none;">
        <label>
          Link:
          <input data-wysihtml5-dialog-field="href" value="http://">
        </label>
        <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
      </div>
    
      <div data-wysihtml5-dialog="insertImage" style="display: none;">
        <label>
          Image:
          <input data-wysihtml5-dialog-field="src" value="http://">
        </label>
        <label>
          Align:
          <select data-wysihtml5-dialog-field="className">
            <option value="">default</option>
            <option value="wysiwyg-float-left">left</option>
            <option value="wysiwyg-float-right">right</option>
          </select>
        </label>
        <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
      </div>
    
    </div>
    <textarea rows="8" class= "form-control" id="create-note-textarea" name="message[body]" placeholder="Message body..."></textarea>
  <br />
</div>
    <button class="create-note btn btn-default">Submit Message</button>
  </form>

  <%= link_to "Back to messages", league_messages_url(@league) %>
  
  <script>
    var editor = new wysihtml5.Editor("create-note-textarea", {
      toolbar:        "toolbar",
      parserRules:    wysihtml5ParserRules
    });
  </script>
</div>