<div class="container">
<h1>Create a New League</h1>

  <label>League Name: <input id="league-name" type="text" placeholder="Required" class="form-control"></label><br>
  
  <label>Add members to the league (optional):</label><br>
    <ul id="invited" class="list-group">
    </ul>
    <div class="form-group">
     <input type="email" class="form-control" id="league-invitee-textfield" placeholder="Invitee E-mail">
   </div>
  <br>

<button class="btn btn-block btn-default fat create-league">Create League</button>
</div>