<div class="container">
<h1>Create a New League</h1>

  <label>League Name: <input id="league-name" type="text" placeholder="Required" class="form-control"></label><br>
  
  <label>Add members to the league (optional):</label><br>
    <ul id="invited" class="list-group">
    </ul>
    <div class="form-group">
     <input type="email" class="form-control" id="league-invitee-textfield" placeholder="Invitee E-mail">
   </div>
  <br>

<button class="btn btn-block btn-default create-league">Submit</button>
</div>
<script>
$.fn.pressEnter = function(fn) {  
  return this.each(function() {  
    $(this).bind('enterPress', fn);
    $(this).keyup(function(e){
      if(e.keyCode == 13)
      {
        $(this).trigger("enterPress");
      }
    })
  });  
}; 
 
$('#league-invitee-textfield').pressEnter(function(event){
  event.preventDefault();
  if($(event.target).parent().hasClass("has-success")){
    var email = "<span class='email'>" + event.target.value + "</span>";
    var close_button = "<span class='glyphicon glyphicon-remove pull-right remove-invitee'></span>"
    var invitee = "<li class='list-group-item email_invites'>"+email                +close_button+"</li>";
    $(invitee).hide().appendTo("#invited").slideDown("fast");
    event.target.value = "";
    $(document).trigger("add");
  }
});

$(document).on('add', function() {
  $(".remove-invitee").click(function(event){
    $removedInvitee = $(event.target).parent()
    // $removedInvitee.hide("slide",{direction:'right'}, 1000);
    $removedInvitee.hide('fast', function(){ $removedInvitee.remove(); });
  })
});



$("button.create-league").click(function(event){
  var emails = []
  var league_name = $("#league-name").val()
  var spans = $(".email_invites").find(".email")
  for (var i = 0; i < spans.length; i++){
    emails.push(spans[i].innerHTML)
  }
  
  $.ajax({
    url: "/leagues",
    type: "POST",
    data: {league: {
      invitees: emails,
      name: league_name
    }},
    success: function(resp){
      alert("league saved")
    }
  })
})

$('#league-invitee-textfield').keyup(function(e){
  var str = $(e.target).val();
  var regex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/
  if (str.match(regex)){
    $(e.target).parent().removeClass("has-error").addClass("has-success");
  }else{
    $(e.target).parent().removeClass("has-success").addClass("has-error");
  }
})

</script>