<table class="table table-condensed">
  <thead>
    <tr>
      <th class="col-sm-4">Tournament</th>
      <th class="col-sm-4">Points</th>
    </tr>
  </thead>
  

  <% JSON.parse(@league_membership.season_scores).each do |t| %>
    <tr class="tournament-entry">
      <td class="name"><%= t[0][0] %></td>
      <td><input type="text" class="form-control score" value="<%=t[1].to_s%>"></td>
    </tr>
  <% end %>
</table>