<div class="container">
<h1>Join a League!</h1>
<p>Please enter the secret hash that was provided to you by the league comissioner.</p>

<form action="/league_memberships" method="POST" accept-charset="utf-8">
  <label>League Key:<input type="text" class="input-large" name="secret_sauce"></label>
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <p><input type="submit" value="Continue &rarr;"></p>
</form>
</div>