<div class="container">

    <h2><%=@league.name%></h2>
  <%= render partial: "layouts/league_nav", locals: {active: 1, league: @league, league_membership: @current_league_membership} %>
  
  <h4>Summary for <%= @league_membership.name %></h4>  
  <canvas id="canvas" height="450" width="800"></canvas>


  	<script>

      // ajax request for the labels and the data...
  		var lineChartData = {
  			labels : ["RBC Championship","The Masters","TPC Sawgrass","The Players Championship","PGA Championship","Honda Open","Northern Trust Open"],
  			datasets : [
  				{
  					fillColor : "rgba(151,187,205,0.5)",
  					strokeColor : "rgba(151,187,205,1)",
  					pointColor : "rgba(151,187,205,1)",
  					pointStrokeColor : "#fff",
  					data : [28,48,40,19,96,27,100]
  				}
  			]

  		}

  	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);
    
    

  	</script>
    
    
</div>