<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Weekly Summary</h1>
    
    Your roster scored as follows this week:
    <ul>
      <% @player_scores.each do |player, score| %>
      <li><%= player.name%> :: <%= score %></li>
      <% end %>
    </ul>
  </body>
</html>
