<h1><%=@tournament.name%></h1>
<h3><%=@tournament.start_date%> - <%=@tournament.end_date%></h3>

<table class="table tournament">
<%@tournament.tournament_standings.each do |player|%>

<thead>
  <th>Position</th>
  <th></th>
  <th></th>
</thead>

<%end%>

</table>