/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 */

$font-family-sans-serif:  'Open Sans', sans-serif !default;

html, body, .main {
  height: 100%;
  width: 100%;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.row { margin: 0; 
       padding: 0;
       width:100%;
}

.roster-blurb-success{
  background-color:rgba(0, 255, 0, 0.5);
  margin-top:10px;
  padding:10px;
  border-radius:5px;
  text-align:center;
}

.roster-blurb-fail{
  background-color:rgba(255, 0, 0, 0.5);
  margin-top:10px;
  padding:10px;
  border-radius:5px;
  text-align:center;
}

h1 {
  font-size:45px; 
}

.icon-bar {
   background-color:#fff;
}

.scroll-down a, .scroll-top a {
   color:#ffffff;
}

.scroll-down {
   position:fixed;
   bottom:20%;
   right:0%;
   color:#f9f9f9;
}

.scroll-top {
  background-color:#33ee67;
}

.header .btn-lg {
   font-size:28px;
   border-color:#eeeeee;
   padding:15px;
   background-color:transparent;
   color:#ffffff;
}

.header .btn-lg:hover {
   background-color:#eeeeee;
   color:#777777;
}

.navbar a {
  color:#fff;
}

.navbar-bold.affix {
  background-color:#33ee67;
}

.navbar-bold {
  background-color:#395D33;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-bold li a:hover, .navbar-bold li.active {
  background-color:#22dd56;
}



.header h1 {
  font-size:80px;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  color:#431a6d;
  color:#fff;
  margin:10px auto;
  text-align:center;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header .lead {
  color:#eeeeee;
  font-size:25px;
}

.header {
  height: 100%;
  background: #7fbbda url('https://s3-us-west-1.amazonaws.com/fantasy-golf/a_grass_background_low.jpg') no-repeat center center fixed;
  background-size:100%;
}

.vert {
  vertical-align: middle;
  width:100%;
  padding-top:4%;
}

.bottom{
  padding:80px 0;
}
.blurb {
  padding: 100px 0;
  background-color:#fefefe;
}

.blurb .panel {
  background-color:transparent;
  margin: 0 15px;
}

.bright {
  background: #7fbbda url('https://s3-us-west-1.amazonaws.com/fantasy-golf/gopher1100.jpg') no-repeat center center fixed; 
  background-size:100%;
  color:#fff;
}

.featurette {
  background: #545455;
  padding: 50px 0;
  color: #ffffff;
}

.featurette-item {
  margin-bottom: 15px;
  padding:10px;
}

.featurette-item > img {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

.featurette-item > i:hover {
  font-size: 68px;
}

.callout {
  color: #ffffff;
  padding-top:7%;
  height: 100%;
  width: 100%;
  background: url('https://s3-us-west-1.amazonaws.com/fantasy-golf/gopher1100.jpg') no-repeat center center fixed;
  background-size:100%;
}

.gallery {
  padding: 50px 0;
}

.call-to-action {
  background: #eeeeee;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

footer {
  padding: 100px 0;
}

.panel-text{
  height:100px;
  vertical-align:middle;
}

@import "bootstrap";

.nav-title{
  font-family: 'Graduate', cursive;
  font-size:1.5em;
  margin-top:10px;
  text-decoration:none;
}

a.landing-button{
  text-decoration:none;
}

body
{ 
background-image:url('https://s3-us-west-1.amazonaws.com/fantasy-golf/gopher1100.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100%;
}

img.golf-course-landing{
  display:block;
  margin:0 auto;
  opacity:0.8;
  filter:alpha(opacity=80);
  height:400px;
  width:auto;
}

textarea{ height:auto;}

.trade-group-for{
  font-size:2.5em;
  text-align:center;
}

.trade-title{
  margin-left:20%;
}
.trade-card{
border:2px solid #a1a1a1;
padding:10px 10px 0px 10px;
background:#dddddd;
border-radius:25px;
margin:10px 0px;
}
.free-agent-card{
  border:2px solid #a1a1a1;
  padding:10px 10px 0px 10px;
  background:#dddddd;
  border-radius:25px;
  margin:10px 0px;
}

#free-agent-add-button{
  margin-top:-20px;
}

.form-spacer-250{
  height:250px;
}

.devise-box{
  margin-left:50px;
}

.container{
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  background-color:white;
  padding:20px;
  margin-bottom:50px;
}

.document{
  padding:20px;
}

.trade-buttons{
  display:none;
}

.league-nav{
  margin-left:10px;
}

.remove-invitee{
  color:black;
}

.remove-invitee:hover{
  color:red;
  cursor:pointer;
}

.augusta{
  background:url("https://s3-us-west-1.amazonaws.com/fantasy-golf/Augusta+National+HD+Wallpaper.jpg") no-repeat center center fixed;;
  position:absolute;
  top:0px;
  bottom:0;
  right:0;
  left:0;
}

#links-right{
  margin-right:40px;
}

.box {
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0 0 15px #000000;
   background-color:white;
   padding:15px;
   margin-top:30px;
   text-align:center;
}

.portlet-placeholder {
  border: 1px dotted black;
  height: 60px;
  background-color:#395D33;
}

.portlet{
  cursor:move;
}

.twitter-typeahead {
    width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.input-group .form-control.tt-query:not(:first-child):not(:last-child) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 56px;
	padding: 14px 16px;
	font-size: 18px;
	line-height: 25px;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 160px;
    width: 100%;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion:hover {
	color: #fff;
	background-color: #428bca;
  cursor:pointer;
}
.tt-suggestion:hover a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

.empty-message{
  color:red;
  padding-left:10px;
}

.roster-selection{
  height:325px;
  overflow:auto;
}

div.portlet .drop-player-button {
  display: none;
}

div.portlet:hover .drop-player-button {
   display: block;
}

ol ol{
  list-style-type:lower-alpha;
}

ol ol ol{
  list-style-type:lower-roman;
}

.trader-list{
  margin-top:33px;
}

.selectable{
  cursor:pointer;
}

.selectable-resp{
  cursor:pointer;
}

.selected{
  -moz-box-shadow:    inset 0 0 20px #395D33;
  -webkit-box-shadow: inset 0 0 20px #395D33;
  box-shadow:         inset 0 0 20px #395D33;
}

#tournament-countdown
{
  border-collapse:separate;
  border-spacing:10px 0px;
  margin-top:-33px;
  border-style:solid;
}

td.number
{ 
  text-align:center;
  font-size:1.5em;
}

li.countdown{
  text-align:center;
}

.table-nonfluid {
   width: auto;
}

#links-left{
  margin-top:-10px;
}


/*wysihtml5 styling*/
#toolbar [data-wysihtml5-action] {
  float: right;
}

#toolbar,
textarea {
  width: 920px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  height: 80px;
  border: 2px solid black;
  font-family: Verdana;
  font-size: 11px;
}

textarea:focus {
  color: black;
  border: 2px solid black;
}

.wysihtml5-command-active {
  font-weight: bold;
}

[data-wysihtml5-dialog] {
  margin: 5px 0 0;
  padding: 5px;
  border: 1px solid #666;
}
