<div class="container">
  <h1>Free Agent Activity</h1>

  <ul>
    <%@offers.each do |free_agent_offer|%>
    <li><%=free_agent_offer.user_name%>'s bid for <%=free_agent_offer.name%> expires in <%=distance_of_time_in_words(Time.now, free_agent_offer.expiry_date)%>.  Currently the bid is <%=free_agent_offer.contested ? "contested":"uncontested"%></li>
    <%end%>
  </ul>
</div>